<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="neu.dao.CommDynamicDao" >

  <select id="queryById" resultType="neu.entity.CommDynamic" >
    select * from CommDynamic where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="queryAll" resultType="neu.entity.CommDynamic" >
    select * from CommDynamic where comm_id = "+commID
  </select>
  
  <delete id="deleDynamic" >
    delete from CommDynamic where id = #{id,jdbcType=BIGINT}
  </delete>

  <insert id="addDynamic" parameterType="neu.entity.CommDynamic" >
		insert into CommDynamic(information,comm_id) values(#{information},#{commId});
  </insert>

<!--    <update id="updateActivity" parameterType="neu.entity.Activity" >
    update activity
    set commID = #{commID},
      start_time = #{startTime},
      email = #{email,jdbcType=VARCHAR},
      introduction = #{introduction},
      school = #{school},
      type = #{type},
      picture = #{picture},
      createtime = #{createtime},
      status = #{status}
    where id = #{id}
  </update>-->
</mapper>