<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hyh.dao.UserDao">

    <resultMap id="UserBaseMap" type="hyh.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="invitationcode" property="invitationcode" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="day" property="day" jdbcType="INTEGER"/>
        <result column="balance" property="balance" jdbcType="DOUBLE"/>
        <result column="lastvisit" property="lastvisit" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectUserById" resultMap="UserBaseMap">
        SELECT * FROM user
        WHERE id = #{userid}
    </select>

    <select id="selectUserByUsername" resultMap="UserBaseMap">
        SELECT * FROM user
        WHERE username = #{username}
    </select>

    <select id="mathchUser" resultMap="UserBaseMap">
        SELECT * FROM user
        WHERE username = #{username} and password = #{password}
    </select>

    <select id="selectAllUser" resultMap="UserBaseMap">
        SELECT * FROM user
    </select>

    <insert id="addUser" parameterType="hyh.entity.User">
            insert into user(username,password,address,invitationcode,status,day,balance)
             VALUES(#{username},#{password},#{address},#{invitationcode},#{status},#{day},#{balance})
    </insert>

    <delete id="deleteUserById">
        DELETE FROM USER WHERE id = #{id}
    </delete>

    <update id="updateUser" parameterType="hyh.entity.User">
        UPDATE USER SET username=#{username},password=#{password},address=#{address},invitationcode=#{invitationcode},
        status=#{status},day=#{day},balance=#{balance} WHERE id=#{id}
    </update>

</mapper>